<link rel="canonical" href="https://really.ai/" />
<title>{{title}}</title>

<!-- Meta Tags -->
<meta name="title" content="{{title}}" />
<meta name="description" content="{{description}}" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Schema.org -->
<meta itemprop="name" content="{{title}}">
<meta itemprop="description" content="{{description}}">
<meta itemprop="image" content="https://really.ai/images/really-sharing-card.png">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{twitterHandleOfBrand}}">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{description}}">
<meta name="twitter:creator" content="{{twitterHandleOfCreator}}">
<meta name="twitter:image:src" content="https://really.ai/images/really-sharing-card.png">

<!-- Open Graph data -->
<meta property="og:title" content="{{title}}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://really.ai/" />
<meta property="og:image" content="https://really.ai/images/really-sharing-card.png" />
<meta property="og:description" content="{{description}}" />
<meta property="og:site_name" content="{{brandName}}" />
<meta property="article:published_time" content="{{timePublished}}" />
<meta property="article:modified_time" content="{{timeModified}}" />
<meta property="article:section" content="About Really" />
<meta property="article:tag" content="Alzheimers,Machine Learning,Artificial Intelligence" />
<meta property="fb:admins" content="troykelly,danielwalton11,mattyjcompton" />
<meta property="fb:app_id" content="2003520169869858" />

<!-- Google Structured data -->
<script type="application/ld+json">
{
  "@context" : "https://schema.org",
  "@type" : "Organization",
  "name" : "{{brandName}}",
  "legalName" : "{{legalName}}",
  "url" : "https://really.ai/",
  "logo" : "https://really.ai/images/really-logo.svg",
  "image" : "https://really.ai/images/really-sharing-card.png",
  "foundingDate" : "{{foundingDate}}",
  "founders": [{
    "@type": "Person",
    "name": "Troy Kelly",
    "givenName": "Troy",
    "familyName": "Kelly",
    "jobTitle": "CEO",
    "url": "https://troykelly.com",
    "sameAs": [
          "https://twitter.com/troykelly",
          "https://www.linkedin.com/in/troykelly/",
          "https://plus.google.com/u/0/106559695193429006159",
          "https://github.com/troykelly",
          "https://news.ycombinator.com/user?id=troykelly",
          "https://keybase.io/troykelly",
          "https://www.f6s.com/troykelly",
          "https://www.reddit.com/user/troykelly",
          "https://www.facebook.com/troykelly",
          "https://gust.com/user/58a494ab-8a3c-4188-a890-b0c9c6f4fd7f",
          "https://www.xing.com/profile/Troy_Kelly2"
          ]
        },
    {
    "@type": "Person",
    "name": "Matthew Compton",
    "givenName": "Matthew",
    "familyName": "Compton",
    "jobTitle": "COO",
    "sameAs": [
          "https://www.facebook.com/profile.php?id=100010160854175",
          "https://twitter.com/mattyjcompton",
          "https://www.linkedin.com/in/matthewcompton/",
          "https://gust.com/user/73916f62-4b8c-4d20-9b79-c883067d40f7",
          "https://www.f6s.com/matthewcompton",
          "https://angel.co/matthew-compton-1",
          "https://www.crunchbase.com/person/matthew-compton-2",
          "https://keybase.io/mattyjcompton"
        ]
    },
    {
    "@type": "Person",
    "name": "Daniel Walton",
    "givenName": "Daniel",
    "familyName": "Walton",
    "jobTitle": "CDO",
    "url": "http://danielwalton.io",
    "sameAs": [
          "https://twitter.com/imdanwalton",
          "https://www.facebook.com/danielwalton11",
          "https://www.linkedin.com/in/danielwalton11/",
          "https://plus.google.com/u/0/113392483006225613222",
          "https://keybase.io/danielwalton",
          "https://github.com/imdanwalton",
          "https://www.xing.com/profile/Daniel_Walton",
          "https://angel.co/danielwalton",
          "https://www.crunchbase.com/person/daniel-walton",
          "https://www.reddit.com/user/imdanwalton",
          "https://gust.com/user/4e6ec148-8ec6-4e75-acdd-d8d2a8d304e3",
          "https://news.ycombinator.com/user?id=imdanwalton"
        ]
    },
    {
    "@type": "Person",
    "name": "Carsten Jarfelt",
    "givenName": "Carsten",
    "familyName": "Jarfelt",
    "sameAs": [
          "https://twitter.com/jarfelt",
          "https://www.linkedin.com/in/jarfelt/",
          "https://www.facebook.com/carsten.jarfelt",
          "https://angel.co/jarfelt"
        ]
    },
    {
    "@type": "Person",
    "name": "Christian Nielsen",
    "givenName": "Christian",
    "familyName": "Nielsen",
    "sameAs": [
          "https://twitter.com/doktor_nielsen",
          "https://www.linkedin.com/in/christian-nielsen-b2235b53/"
        ]
    }],
  "alternateName" : "{{alternateName}}",
  "sameAs" : [
    "https://twitter.com/reallyreallyio",
    "https://www.facebook.com/reallyai/",
    "https://www.linkedin.com/company-beta/17978433/",
    "https://plus.google.com/+ReallyreallyIo",
    "https://www.youtube.com/channel/UCsDjz-KIWPRoNvzzXZIjcmQ",
    "https://www.instagram.com/reallyreallyio/",
    "https://www.pinterest.com/reallyreallyio/",
    "https://www.f6s.com/reallyreallyio",
    "https://www.crunchbase.com/organization/really-really-inc",
    "https://gust.com/companies/reallyreallyio",
    "https://index.co/company/reallyreallyio",
    "https://disqus.com/by/reallyreallyio/",
    "https://medium.com/@reallyreallyio",
    "https://codepen.io/reallyreallyio/",
    "https://github.com/reallyreally",
    "https://klout.com/reallyreallyio",
    "https://news.ycombinator.com/user?id=reallyreallyio",
    "https://vimeo.com/reallyreallyio",
    "https://angel.co/reallyreallyio",
    "https://app.dealroom.co/companies/really_really",
    "https://www.producthunt.com/@reallyreallyio"
  ],
  "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "237 Kearny Street #246",
    "addressLocality" : "San Francisco",
    "addressRegion" : "CA",
    "postalCode" : "94108",
    "addressCountry" : "USA"
  },
  "contactPoint": [{
    "@type": "ContactPoint",
    "contactType": "customer support",
    "telephone": "+1-855-242-6040",
    "email": "hello@really.ai",
    "contactOption": "TollFree",
    "areaServed": [
      "US",
      "CA"
    ],
    "availableLanguage": [
      "English"
    ]
  },{
    "@type": "ContactPoint",
    "contactType": "customer support",
    "telephone": "+61-2-8039-4600",
    "email": "hello@really.ai",
    "areaServed": [
      "AU"
    ],
    "availableLanguage": [
      "English"
    ]
  }]
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "{{brandName}}",
  "image" : [
    "https://really.ai/images/really-logo.svg",
    "https://really.ai/images/really-sharing-card.png"
    ],
  "description": "{{description}}",
  "copyrightHolder": "{{legalName}}",
  "copyrightYear": "2017",
  "alternateName": "{{alternateName}}",
  "url": "https://really.ai/",
  "sameAs": [
    "https://twitter.com/reallyreallyio",
    "https://www.facebook.com/reallyai/",
    "https://www.linkedin.com/company-beta/17978433/",
    "https://plus.google.com/+ReallyreallyIo",
    "https://www.youtube.com/channel/UCsDjz-KIWPRoNvzzXZIjcmQ",
    "https://www.instagram.com/reallyreallyio/",
    "https://www.pinterest.com/reallyreallyio/",
    "https://www.f6s.com/reallyreallyio",
    "https://www.crunchbase.com/organization/really-really-inc",
    "https://gust.com/companies/reallyreallyio",
    "https://index.co/company/reallyreallyio",
    "https://disqus.com/by/reallyreallyio/",
    "https://medium.com/@reallyreallyio",
    "https://codepen.io/reallyreallyio/",
    "https://github.com/reallyreally",
    "https://klout.com/reallyreallyio",
    "https://news.ycombinator.com/user?id=reallyreallyio",
    "https://vimeo.com/reallyreallyio",
    "https://angel.co/reallyreallyio",
    "https://app.dealroom.co/companies/really_really",
    "https://www.producthunt.com/@reallyreallyio"
    ]
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "name": "{{brandName}}",
  "image" : [
    "https://really.ai/images/really-logo.svg",
    "https://really.ai/images/really-sharing-card.png"
    ],
  "description": "{{description}}",
  "publisher": {
      "@type": "Organization",
      "name": "{{legalName}}"
  }
}
</script>
